<launch>
    <arg name="max_motor_speed"      default="3000" />
    <arg name="ticks_per_meter"      default="10000" />
    <arg name="wheel_separation_width"      default="0.2" />
    <arg name="wheel_separation_length"      default="0.3" />
    <arg name="rate"      default="10.0" />
    <arg name="timeout"      default="0.2" />
    
    <node pkg="mecanum_drive_controller"       type="mecanum_drive_controller"           name="controller"              output="screen">
        <param name="max_motor_speed"  type="int"   value="$(arg max_motor_speed)"/>
        <param name="ticks_per_meter"  type="int"   value="$(arg ticks_per_meter)"/>
        <param name="wheel_separation_width"  type="double"   value="$(arg wheel_separation_width)"/>
        <param name="wheel_separation_length"  type="double"   value="$(arg wheel_separation_length)"/>
        <param name="rate"  type="double"   value="$(arg rate)"/>
        <param name="timeout"  type="double"   value="$(arg timeout)"/>
    </node>

    <include file="$(find articubot)/launch/hector_mapper.launch"></include>
    
</launch>