<?xml version="1.0"?>
<launch>

    <arg name="paused" default="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" default="true" />
    <arg name="world_file" default="$(find articubot)/worlds/basic_maze.world"/>

    <param name="use_sim_time" value="true"/>

    <!-- Creates a route a single robot description file that has compressed all the xacro file together-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find articubot)/description/robot.urdf.xacro"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"/>
    <!-- <node name="rviz" pkg="rviz" type="rviz" output="screen" /> -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find articubot)/rviz/hector_config.rviz"/>

    <!-- Loads an empty gazebo world with my basiz maze loaded into it-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="world_name" value="$(arg world_file)"/>
    </include>

    <!-- Spawns the simulated robot into Gazebo-->
    <node name="spawner" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description -urdf -model robot"/>

    <!-- Loads the save map in RVIZ-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find articubot)/maps/gmap1.yaml"/> 

    <!-- After the map is served AMCL helps keep the robot localised within the map -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <param name="use_map_topic" value="true"/>
        <param name="odom_model_type" value="diff"/>
        <param name="odom_alpha5" value="0.1"/>
        <param name="odom_frame_id" value="odom"/>
    </node>

    <!-- Move Base requires transform between the map being served and the odom frame-->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map /odom 100" ></node>

    <!-- This node allows you set goals for the robot to autonoumos travel to. The params are configs for the costmaps and path planner-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find articubot)/config/costmap_base_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find articubot)/config/costmap_base_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find articubot)/config/local_costmap.yaml" command="load" />
        <rosparam file="$(find articubot)/config/global_costmap.yaml" command="load" /> 
        <rosparam file="$(find articubot)/config/base_speed_planner.yaml" command="load" />
     </node>
    
</launch>