<?xml version="1.0"?>
<launch>
    
    <node pkg="tf" type="static_transform_publisher" name="swri_transform_to_map" args="0 0 0 0 0 0 /wgs84 /map 100"  /> <!-- A transform from /wgs48 to /origin and /map is needed for mapviz to function -->
    <node pkg="tf" type="static_transform_publisher" name="swri_transform_to_origin" args="0 0 0 0 0 0 /wgs84 /origin 100" ></node>

    <node pkg="swri_transform_util" type="initialize_origin.py" name="initialize_origin" > <!-- This is creating the /map frame required to show a map in mapviz --> 
        <param name="local_xy_frame" value="/map"/>
        <param name="local_xy_origin" value="Bar"/>
        <rosparam param="local_xy_origins">
            [{ name: Bar,
            latitude: 37.9879772,
            longitude: 23.9078602,
            altitude: 129.69,
            heading: 0.0}]
        </rosparam>
    </node>

    <node pkg="mapviz" type="mapviz" name="mapviz" output="screen">
	<param name="Map Sources/OSM/URL" value="https://a.tile.openstreetmap.org/{z}/{x}/{y}.png"/>
	<param name="Map Sources/OSM/Frame" value="/map"/>
    </node>

</launch>
