<?xml version="1.0"?>
<launch>
    <arg name="use_sim_time" value="true" />
    <arg name="gui" default="true" />

    <!-- <param name="robot_description" command="$(find xacro)/xacro $(find articubot)/description/robot.urdf.xacro"/> -->
    <param name="robot_description" command="$(find xacro)/xacro $(find articubot)/jiqi_desc/jiqi_bot.urdf.xacro"/>
    
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"  output="screen"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"/>
    <node name="rviz" pkg="rviz" type="rviz" output="screen" />
    
</launch>